*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.userIcon{
    width: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 10px;
    cursor: pointer;
}
.userIcon img{
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
}
.userIcon i{
    font-size: 1.1em;
    color: white;
    width: fit-content;
    transition: transform .3s;
}
.userIcon i.rotate{
    transform:rotate(180deg);
}

.header {
    width: 100%;
    background: #000e27;
    /* background: #03112c; */
    padding: 1em;
    color: #0043b8;
    transition: all .2s ease-in-out;
}

.headerBg {
    background: #000e27;
    color: white;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .logoFlex{
    
} */
.logoFlex img {
    width: 350px;
    margin: .5em 0;
}

.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLinks a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-left: 2em;
    transition: all .2s ease-in-out;
}

.navChg {
    color: white
}

.navLinks li {
    list-style: none;
    font-family: 'Saira', sans-serif;
    font-weight: bold;
}

.navLinks a:hover {
    color: #ffe600
}

.navHeavy {
    padding: .7em 1.2em;
    border-radius: 3px;
    background: dodgerblue;
}

.navHeavy li {
    color: white;
}

.navHeavy:hover {
    background: #ffe600;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2em;
}
.containerHead{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}




/* DROP DOWN NAV STYLING */
.drop_down_nav .nav_box{
    background: #000e27;
    position: absolute;
    right: 1em;
    top: 8em;
    width: 220px;
    padding: 1em;
    border-radius: 2px;
    color: white;
    transition: all .2s ease-in-out;
    scale: 0;
}
.nav_box .nav_lists li{
    list-style: none;
    cursor: pointer;
    margin: 1em 0;
    position: relative;
}
.nav_box .nav_lists li::after{
    content: "";
    background: white;
    cursor: auto;
    width: 80%;
    height: 1.5px;
    position: absolute;
    left: -3px;
    bottom: -7px;
}
.nav_box .nav_lists li a{
    color: white;
    text-decoration: none;
}
.drop_down_nav .nav_box.nav_toggle{
    scale: 1;
}









/* .homeLink {
    width: fit-content;
    background-color: dodgerblue;
    border-radius: 3px;
    transition: all .2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeLink:hover {
    background-color: #0070e0;
}

.homeLink a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.homeLink i {
    padding: .7em 1em;
    padding-bottom: 0;
    color: white;
    cursor: pointer;
} */



.userContent{
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid grey;
    box-shadow: 1px 1px 5px 1px #46464673;
    border-radius: 5px;
    margin: 1.5em 0;
    padding: 1em;
}
.userContent .userHead{
    font-size: 1.2em;
    font-weight: bold;
}
.userContent .dashboard{
    background: #000e27;
    border-radius: 3px;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.dashboard i{
    font-size: 1.5em;
    margin-right: .5em;
    color: dodgerblue
}
.userInfo{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
}
.userInfo1{
    width: fit-content;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.userInfo1 .image{
    width: 200px;
    text-align: center;
}
.userInfo1 .image img{
    width: 100%;
    border: 2px solid #000e27;
    border-radius: 10px;
}
.userInfo1 .usernameInfo{
    text-align: center;
    line-height: 1.3em;
}
.userInfo2 .userInfo2Box{
    line-height: 1.3em;
    border-radius: 8px;
    padding: 1em;
}
.userInfo2Box h2{
    padding: .3em 0;
}
.userInfo2 .userInfo2Box,
.personal_details, 
.contact_details{
    margin-top: .5em;
}
.userInfo2 .userInfo2Box h2{
    color: #000714;
}
.userInfo2 .userInfo2Box
.personal_details h3, 
.contact_details h3, 
.bank_details h3{
    margin-bottom: .2em;
    color: #0043b8;
}
.userContent .bank_details{
    padding: 1em;
}
.userContent .bank_d{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}





footer {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    background: #000714;
    padding: 2em;
    transition: all .2s ease-in-out;
}
.footerDisplay1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerImg img{
    width: 300px;
}
.subscribe p{
    color: white;
    margin: 0 0 .8em 0;
    text-align: center;
}
.subscribe input{
    padding: .5em .8em;
    margin: 0;
    border: 2px solid white;
    outline: none;
}
.subscribe button{
    padding: .5em .8em;
    margin: 0;
    border: 2px solid #0043b8;
    outline: none;
    background: #0043b8;
    color: white;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.subscribe button:hover{
    border: 2px solid #0043b8;
    background: none;
    color: white;
}
.footerDisplay2{
    margin: 1.5em 0 0 0;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerDisplay2 p{
    color: white;
    width: fit-content;

}
.footerDisplay2 .socialLinks a{
    color: white;
    text-decoration: none;
    margin-left: .8em;
    width: fit-content;
    transition: all .2s ease-in-out;
}
.footerDisplay2 .socialLinks a:nth-child(1):hover{
    color: #00218f;
}
.footerDisplay2 .socialLinks a:nth-child(2):hover{
    color: #004ab9;
}
.footerDisplay2 .socialLinks a:nth-child(3):hover{
    color: #00790a;
}
.footerDisplay2 .socialLinks a:nth-child(4):hover {
    color: #be0000;
}
.footerDisplay2 .socialLinks a i{
    font-size: 1.1em;
}

.footerDisplay3{
    text-align: center;
    width: 100%;
    margin: 1.5em 0 0 0;
    color: white;
}








@media only screen and (max-width: 990px)
{
    body{
        border: 5px solid green;
    }
}

@media only screen and (max-width: 860px){
    .userInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .userInfo2 .userInfo2Box{
        width: 100%;
    }
    .userInfo2 .userInfo2Box1{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    .heading {
        font-size: 18px;
    }
    .sectionHead{
        width: 100%;
    }
    .header-flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }
    .logoFlex img {
        width: 230px;
    } 
    .navLinks{
        justify-self: flex-end;
    }


    .footerDisplay1 {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .subscribe {
        width: 50%;
    }
    .subscribe input {
        width: 100%;
    }
    .subscribe button {
        margin: 3px 0 0 0;
        display: block;
        width: 100%;
    }
    .footerImg img {
        width: 250px;
        margin-bottom: 2em;
    }
    .footerDisplay2 {
        margin: 2em 0 0 0;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}


@media only screen and (max-width: 640px){

    body{
        border: 5px solid black;
    }

    .containerHead{
        padding: 0em;
    }

    .drop_down_nav .nav_box{
        top: 6.5em;
    }
    .subscribe {
        width: 100%;
    }
}