.body{
    display: none;
}

.loader{
    background: #004285;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader img{
    width: 300px;
    margin-bottom: 2em;
}

.circle{
    border: 5px solid #00366b;
    border-top-color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: circle 1s linear infinite;
}

.loader .load{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 2em;
}

@keyframes circle {
    100%{
        transform: rotate(360deg);
    }
}